*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('images/brick.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
#modal-el{
    width: 400px;
    height: 200px;
    background-color: azure;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    visibility: visible;
    padding: 20px;
}
button{
     background-color:white;
     border: solid 1px grey;
     padding: 10px 20px;    
     border-radius: 10px;
     margin-top: 20%;
}
#modal-div{
    visibility: hidden;
    position: absolute;
    top:0px;
    left: 40%;
    background-color: rgb(192, 248, 81);
    display: flex;
    padding: 40px 60px;
    margin-top: 10px;
    border-radius: 10px;
}
#modal-div i{
    position: absolute;
    top:0px;
    right:5px;
    color: red;
}
 